{
  "root": true,
  "extends": ["problems", "prettier"],
  "env": { "node": true, "jest": true },
  "parserOptions": { "ecmaVersion": 2020, "sourceType": "module" },
  "rules": {
    "no-console": "off",
    "no-misleading-character-class": "warn"
  },
  "ignorePatterns": ["src/parser/grammar.js"]
}
